html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  width: 80%;
  max-width: 1250px;
  margin: auto;
  background-color: #f9f8f2;
  color: #3e3e3e;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #4b6a88;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

header {
  background-color: #fde3a7;
}

nav {
  display: grid;
  grid-template-areas: "logo . links";
  align-items: center;
}

nav span {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b6a88;
  font-family: "Roboto", sans-serif;
}

nav ul {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  color: #2abb9b;
  text-decoration: none;
  transition: color 250ms ease-out, font-size 200ms ease-out;
}

a:hover {
  color: #3477db;
  font-size: 1.22rem;
  text-decoration: underline;
}

/* main {
  grid-area: main;
} */

#about-me {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 0 2%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#about-me img {
  border-radius: 10px;
  box-shadow: 0px 5px 5px #3477db;
  padding: 5%;
  background-color: #fde3a7;
}

#projects {
  padding-bottom: 5rem;
  text-align: center;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 3%;
  margin-top: 1rem;
}

#project-list h3 {
  padding: 0.5rem 0;
}

#project-list div {
  /* border: 3px solid #4b6a88; */
  background-color: #fde3a7;
}

#project-list p {
  padding: 1rem;
}

footer {
  background-color: #fde3a7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
  padding: 1rem 1rem 0.5rem;
}

footer h2 {
  font-size: 1.2rem;
  justify-self: end;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

#scrollTop {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  background-color: #3477db;
  color: #f9f8f2;
  border-radius: 100% / 95%;
  transition: background-color 200ms ease-out;
  display: none;
  z-index: 99;
}

#scrollTop i {
  font-size: 2rem;
  padding: 1rem;
}

#scrollTop:hover {
  background-color: #2abb9b;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #about-me {
    grid-template-columns: 2fr 1fr;
  }

  #selfie {
    margin-top: 1rem;
  }

  footer {
    align-items: center;
  }

  footer h2 {
    padding-right: 1rem;
  }

  footer #contact {
    gap: 6%;
    text-align: center;
    margin: 0;
  }

  #scrollTop {
    right: 1%;
  }
}
